* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    color: currentColor;
}

button {
    border: none;
    background-color: transparent;
}

ul, li, menu{
    list-style: none;
}